body{
    padding: 0;
    margin: 0;
    background-color: #000033;
}
.logobox{
    height: 200px;
    overflow: hidden;
    margin-top: -40px;
}
.logo{
    height: 120%;
    width: 100%;
}
#logobn{
    display: none;
}
.logo-header1{
    font-size: 20px;
    height: auto;
    text-align: center;
    font-family: monospace;
    overflow: hidden;
    color: #ccccff;
    cursor: default;
}
.blue{
    background-color: #000066;
    color: #ccccff;
    cursor: default;
}
.raw-jar{
    border-bottom: 1px solid #000066 ;
    margin-left: 0;
    margin-right: 0;
}
.font-size{
    font-size: 20px;
    margin-top: 5px;
    color: #ccccff;
    cursor: default;
}
.icon{
    font-size: 20px;
    color: black;
    margin-top: 10px;
    float: right;
    color: #6666ff;
    transition: 0.3s;
}
.i-right:hover{
    transform: scale(2);
    color: #1a1aff;
}
.margin{
    margin-left: 0;
    margin-right: 0;
}
.radiobtnen{
    background-color: #6666ff;
    height: 40px;
    width: 80px;
    margin-left: 0px;
    margin-top: 10px;
    padding: 5px 2px;
    border: 2px solid #1a1aff;
    border-radius: 20px 0px 0px 20px;
    transition: 0.3s;
    cursor: pointer;
}
.radiobtnen:hover{
    background-color: #1a1aff;
}
.radiobtnbn{
    background-color: #6666ff;
    height: 40px;
    width: 80px;
    margin-left: 50px;
    margin-top: 10px;
    padding: 5px 2px;
    border: 2px solid #1a1aff;
    border-radius: 0px 20px 20px 0px;
    transition: 0.3s;
    cursor: pointer;
}
.radiobtnbn:hover{
    background-color: #1a1aff;
}

@media only screen and (min-width: 768px){
    .raw-jar{
        margin-left: 100px;
        margin-right: 100px;
    }
    .margin{
        margin-left: 100px;
        margin-right: 100px;
    }
    .radiobtnen{
        margin-left: 30px;
    }
    .radiobtnbn{
        margin-left: 50px;
    }

}

@media only screen and (min-width: 1025px){
    .raw-jar{
        margin-left: 480px;
        margin-right: 480px;
    }
    .margin{
        margin-left: 480px;
        margin-right: 480px;
    }
    .radiobtnen{
        margin-left: 30px;
    }
    .radiobtnbn{
        margin-left: 0px;
    }
}
