body{
    padding: 0;
    margin: 0;
    background-color: #000033;
}
.logobox{
    height: 200px;
    overflow: hidden;
}
.logo{
    height: 120%;
    width: 100%;
}
.logo-header1{
    font-size: 20px;
    height: auto;
    text-align: center;
    font-family: monospace;
    overflow: hidden;
    color: #ccccff;
    cursor: default;
}
.blue{
    background-color: #000066;
    color: #ccccff;
    cursor: default;
}
.raw-jar{
    border-bottom: 1px solid #000066 ;
    margin-left: 0;
    margin-right: 0;
}
.font-size{
    font-size: 20px;
    margin-top: 5px;
    color: #ccccff;
    cursor: default;
}
.icon{
    font-size: 20px;
    color: black;
    margin-top: 10px;
    float: right;
    color: #6666ff;
    transition: 0.3s;
}
.i-right:hover{
    transform: scale(2);
    color: #1a1aff;
}
.margin{
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (min-width: 768px){
    .raw-jar{
        margin-left: 100px;
        margin-right: 100px;
    }
    .margin{
        margin-left: 100px;
        margin-right: 100px;
    }

}

@media only screen and (min-width: 1025px){
    .raw-jar{
        margin-left: 200px;
        margin-right: 200px;
    }
    .margin{
        margin-left: 200px;
        margin-right: 200px;
    }

}
